body {
    height: 100vh;
    background: rgb(62, 88, 139);
    background: linear-gradient(270deg, rgba(62, 88, 139, 1) 8%, rgba(50, 67, 101, 1) 31%, rgba(41, 41, 45, 1) 100%);
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 1440px;
    margin: auto;
}

header {
    padding: 30px 0;
}

header svg {
    width: 227px;
    height: 60px;
    margin-left: -70px;
}

header svg:hover {
    cursor: pointer;
}

h1 {
    color: white;
}


/*  section 1 syste begin  */

#section1 {
    height: 100vh;
    position: relative;
}

div.doly_tebigy {
    /* position: absolute; */
    width: 980px;
    height: 180px;
    margin-top: 100px;
    /* left: 122.21px;
    top: 306.27px; */
    background: url('./images/Doly\ Tebigy\ 1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

h1.doly_tebigy {
    font-size: 120px;
    padding: 0;
    padding-top: 40px;
    margin: 0;
}

p.doly_tebigy {
    color: white;
    font-size: 28px;
    width: 450px;
    padding: 0;
    margin: 0;
}

p.satyn_al {
    color: white;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 3px 20px;
    margin: 0;
    margin-top: 15px;
    width: fit-content;
}

@keyframes packet_1 {
    0% {
        transform: rotate(395grad) translate3d(-25%, 60%, 0);
    }
    25% {
        transform: rotate(395grad) translate3d(-25%, 60%, 0);
    }
    50% {
        transform: rotate(380grad) translate3d(25%, 40%, 0);
    }
    75% {
        transform: rotate(370grad) translate3d(50%, 20%, 0);
    }
    100% {
        transform: rotate(360grad) translate3d(100%, 0%, 0);
    }
}

@keyframes packet_2 {
    0% {
        transform: rotate(0grad) translate3d(80%, 0%, 0);
    }
    25% {
        transform: rotate(0grad) translate3d(80%, 0%, 0);
    }
    50% {
        transform: rotate(-10grad) translate3d(100%, -20%, 0);
    }
    75% {
        transform: rotate(0grad) translate3d(120%, -40%, 0);
    }
    100% {
        transform: rotate(0grad) translate3d(140%, -60%, 0);
    }
}

@keyframes packet_3 {
    0% {
        transform: rotate(0grad) translate3d(140%, -40%, 0);
    }
    25% {
        transform: rotate(0grad) translate3d(140%, -40%, 0);
    }
    50% {
        transform: rotate(-20grad) translate3d(160%, -60%, 0);
    }
    75% {
        transform: rotate(0grad) translate3d(180%, -80%, 0);
    }
    100% {
        transform: rotate(0grad) translate3d(200%, -120%, 0);
    }
}

@keyframes section2_p_1 {
    0% {
        transform: translateX(-200px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes section2_p_2 {
    0% {
        transform: translateX(200px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

.packet_1 {
    width: 310px;
    height: 390px;
    position: absolute;
    transform: translate3d(-25%, 80%, 0);
    animation: packet_1 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 150%;
    transition: all ease .4s;
}

.packet_2 {
    width: 437px;
    height: 524px;
    position: absolute;
    transform: rotate(0grad) translate3d(80%, 0%, 0);
    animation: packet_2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 150%;
    transition: all ease .4s;
}

.packet_3 {
    width: 565px;
    height: 645px;
    position: absolute;
    transform: translate3d(120%, -40%, 0);
    animation: packet_3 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 150%;
    transition: all ease .4s;
}


/*  section 1 syste end  */


/*  section 2 syste start  */

#section2 {
    height: 100vh;
    position: relative;
}

.tagamy_sayla {
    color: #fff;
    font-size: 72px;
    padding: 0;
    margin: 0;
    transform: translateX(-200px);
    animation: section2_p_1 linear;
    animation-timeline: view();
    animation-range: entry 50% cover 150%;
    transition: all ease .4s;
}

.tagamy_sayla span {
    color: #FF7D2F;
}

.hilini_duy {
    color: #fff;
    font-size: 72px;
    padding: 0;
    margin: 0;
    transform: translateX(200px);
    animation: section2_p_2 linear;
    animation-timeline: view();
    animation-range: entry 50% cover 150%;
    transition: all ease .4s;
}

.hilini_duy span {
    color: #FF7D2F;
}

.hil_taydan_yokary {
    color: #fff;
    padding: 0 50px;
    width: 400px;
}


/*  section 2 syste end  */

#section3 {
    height: 100vh;
    background-color: aquamarine;
}